#chart {
  width: 800px;
  height: 350px;
  margin: 30px auto 50px auto;
  font: 11px sans-serif;
  shape-rendering: crispEdges;
}
.hour {
  stroke: #fff;
  stroke-width: 1px;
}
.step0 {
  fill: #fff;
  color: #fff;
}
.step1 {
  fill: #eff3ff;
  color: #eff3ff;
}
.step2 {
  fill: #c6dbef;
  color: #c6dbef;
}
.step3 {
  fill: #9ecae1;
  color: #9ecae1;
}
.step4 {
  fill: #6baed6;
  color: #6baed6;
}
.step5 {
  fill: #3182bd;
  color: #3182bd;
}
.step6 {
  fill: #08519c;
  color: #08519c;
}
.label {
  &.month, &.hours {
    fill: #666;
    font: 11px sans-serif;
  }
}
.annotation {
  fill: #666;
  font: 11px sans-serif;

  rect {
    fill: transparent;
    stroke-width: 1px;
    stroke: #777;
  }

  line {
    fill: transparent;
    stroke-width: 1px;
    stroke: #777;
  }
}