<header class="row">
  <div class="centered eight columns">
    <h1 class="headline">When it rains</h1>
    <div class="publish-container single-article">
      <div class="byline"><span class="byline-author">by <a href="http://axisphilly.org/author/jeff/" title="Posts by author" rel="author">Jeff Frankl</a>, <a href="http://axisphilly.org/author/casey/" title="Posts by author" rel="author">Casey Thomas</a>, and <a href="http://axisphilly.org/author/julia/" title="Posts by author" rel="author">Julia Bergman</a><span class="byline-date">, Jul. 3rd, 2013</span></div>
    </div>
  </div>
</header>

<section class="row">
  <div class="centered eight columns">
    <p>
      Does it seem lately like it always starts pouring around five or six o'clock? Are you worried that recent rain patterns could spell doom for your Independence Day afternoon?
    </p>
  </div>
</section>

<section class="row">
  <div class="centered eight columns">
    <div class="row">
      <div class="eight columns">
        <p>
          This past June saw <a href="http://articles.philly.com/2013-07-01/news/40288227_1_june-rain-wettest-inch">more rainfall</a> than any June on record in Philadelphia. And July is starting off with even more precipitation. So we wondered: When is it most likely to rain in this city, and at what time of day?
        </p>
        <p>
          The Philadelphia Water Department maintains a network of 24 rain gages spread throughout the city. We analyzed data collected by each gage and looked at the total amount of rain for each hour of each month, from 1990 to 2013.
        </p>
      </div>
      <div class="four columns">
        <div id="map">
          <img src="img/rain-gages.png" alt="PWD Rain Gage Network"/>
        </div>
      </div>
  </div>
</section>

<section class="row">
  <div class="eight columns centered">
    <p>
      Turns out, the hours with the most rain are during the summer in the late afternoon and into the early evening.
    </p>
  </div>
</section>

<section class="row" id="app-container">
  <div class="two columns">
  </div>
  <div class="eight columns">
    <div id="chart">

    </div>
  </div>
  <div class="two columns">
  </div>
</section>

<section class="row">
  <div class="centered eight columns">
    <p>Why is this the case? According to Patrick O’Hara, a meteorologist with the National Weather Service in Mount Holly, New Jersey, afternoon thunderstorms are more common in the summer months due to warmer and more humid air rising from the ground to form thunderstorm clouds. This, he said, is why thunderstorms are more likely to occur in the North during the summer, and in the South during the winter.</p>

    <p>Thunderstorms usually last for about 30 to 45 minutes and span four to six miles in diameter. According to NOAA’s <a href="http://www.nssl.noaa.gov/research/thunderstorms/">National Severe Storms Laboratory</a>, as many as 40,000 thunderstorms can occur each day around the world. 
    </p>
  </div>
</section>

<section class="row">
  <div class="centered eight columns">
    <p>
      <cite>
        Note: During times of snowfall, the precipitation amounts recorded by the rain gages do not represent the amount of snowfall. Once the snow melts, the rain gages record the amount of melted snow in the gage.
      </cite>
    </p>
  </div>
</section>