<header class="row">
  <div class="twelve columns">
    <h1 class="headline">The wettest hour</h1>
    <div class="publish-container">
      <div class="byline"><span class="byline-author">by <a href="http://axisphilly.org/author/jeff/" title="Posts by author" rel="author">Jeff Frankl</a> and <a href="http://axisphilly.org/author/casey/" title="Posts by author" rel="author">Casey Thomas</a><span class="byline-date">, Jul. 3rd, 2013</span></div>
    </div>
  </div>
</header>

<section class="row">
  <div class="twelve columns">
    <p>
      This past June has been the <a href="http://articles.philly.com/2013-07-01/news/40288227_1_june-rain-wettest-inch">wettest June on record</a> in Philadelphia.
    </p>
    <p>
      When does the most rain fall?
    </p>
    <p>
      The Philadelphia Water Department maintains a network of 24 rain gauges that are spread through out the City.
      We've looked at all the data collected starting in 1990 through last month, and tallied the total amount of rain
      that has fallen in each hour of each month.
    </p>
  </div>
</section>

<section class="row" id="app-container">
  <div class="twelve columns">
    <div id="chart">

    </div>
  </div>
</section>

<section class="row">
  <div class="twelve columns">
    <p>Source: Philadelphia Water Department</p>
    <p>
      <cite>
        Note: During times of snowfall, the perciptation amounts recorded by the rain gauges do not represent the amount of snowfall. Once the snow melts, the rain gauges record the amount of melted snow in the gauge.
      </cite>
    </p>
  </div>
</section>